
<div class="topadminsubnav">
    <div class="btn-group" role="group">
        <a href="@Url.Action("Index")" role="button" class="btn-mvc-green">Quản lý nhóm sản phẩm</a>
        <a href="@Url.Action("Create")" role="button" class="btn-mvc-green">Thêm nhóm sản phẩm</a>
        <a href="@Url.Action("Attribute")" role="button" class="btn-mvc-green">Quản lý thuộc tính</a>
        <a href="@Url.Action("CreateAttribute")" role="button" class="btn-mvc-green">Thêm thuộc tính</a>
    </div>
</div>