@model ProductClass
@{
    ViewBag.Title = "Xóa loại sản phẩm";
}
@Html.Partial("_TopMenu",ModulConfig.ProductManage)
<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        <h2>Xác nhận xóa nhóm sản phẩm?</h2>
        <p>Loại sản phẩm sẽ được xóa hoàn toàn và không thể khôi phục.</p>
        <div class="form-group">
            <input type="text" class="form-control" readonly="readonly" value="@Model.Name" />
        </div>
        @using (Html.BeginForm("Del", "AdminProduct", FormMethod.Post))
        {
            <div class="submit-holder">
                <input type="submit" class="btn-mvc btn-mvc-large" value="Xác nhận xóa" />
            </div>
        }
    </div>
</div>
