@model  ProductAttribute
@{
    ViewBag.Title = "Xóa thuộc tính sản phẩm";
}
@Html.Partial("_TopMenu", ModulConfig.ProductManage)
<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        <h2>Không thể xóa!</h2>
        <p>Bạn cần bỏ hết đánh dấu thuộc tính này trong các loại sản phẩm trước khi xóa.</p>
        <div class="form-group">
            <input type="text" class="form-control" readonly="readonly" value="@Model.Name" />
        </div>
        <a href="Attribute" class="btn-mvc btn-mvc-large">Trờ lại</a>
    </div>
</div>
