
<div class="topadminsubnav">
    <div class="btn-group" role="group">
        <a href="@Url.Action("Index")" role="button" class="btn-mvc-green">Manage Booking</a>
        <a href="@Url.Action("TypeRoom")" role="button" class="btn-mvc-green">Manage Type Room</a>
        <a href="@Url.Action("NewTypeRoom")" role="button" class="btn-mvc-green">Create Type Room</a>
    </div>
</div>
