@{
    ViewBag.Title = "Trang chủ";
}
<section class="wrapper invert off-canvas-right" id="off-canvas-right">
        <a class="close-canvas" data-toggle="#off-canvas-right" data-toggle-class="open">
            <i class="l-close"></i>
            Close
        </a>

        <div class="row content nav-mobile">
            <nav class="nav nav-vertical">
                <ul id="menu-trinh-don-chinh" class="menu">
                    <li id="menu-item-381" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-372 current_page_item menu-item-381"><a href="http://0961.chilibusiness.net/">Trang chủ</a></li>
                    <li id="menu-item-475" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-475"><a href="http://0961.chilibusiness.net/gioi-thieu/">Giới Thiệu</a></li>
                    <li id="menu-item-721" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-721">
                        <a href="#">Dịch vụ</a>
                        <ul class="sub-menu">
                            <li id="menu-item-753" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-753"><a href="http://0961.chilibusiness.net/tu-van-giam-sat/">Tư vấn giám sát</a></li>
                            <li id="menu-item-755" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-755"><a href="http://0961.chilibusiness.net/thiet-ke-noi-that/">Thiết kế nội thất</a></li>
                            <li id="menu-item-756" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-756"><a href="http://0961.chilibusiness.net/thiet-ke-kien-truc/">Thiết kế  kiến trúc</a></li>
                            <li id="menu-item-754" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-754"><a href="http://0961.chilibusiness.net/xay-dung/">Xây dựng</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-676" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-676"><a href="http://0961.chilibusiness.net/album-anh/">Album ảnh</a></li>
                    <li id="menu-item-413" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-413"><a href="http://0961.chilibusiness.net/tin-tuc/">Tin tức</a></li>
                    <li id="menu-item-675" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-675"><a href="http://0961.chilibusiness.net/lien-he/">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
        <aside id="search-8" class="content widget widget_search">
            <form role="search" method="get" class="search-form" action="http://0961.chilibusiness.net/">
                <label>
                    <span class="screen-reader-text">Tìm kiếm cho:</span>
                    <input type="search" class="search-field" placeholder="Tìm kiếm &hellip;" value="" name="s" title="Tìm kiếm cho:" />
                </label>
                <input type="submit" class="search-submit" value="Tìm kiếm" />
                <input type='hidden' name='lang' value='vi' />
            </form>
        </aside>		<aside id="recent-posts-20" class="content widget widget_recent_entries">
            <h5 class="section-nav-title">Bài viết mới</h5>		<ul>
                <li>
                    <a href="http://0961.chilibusiness.net/tu-van-giam-sat/">Tư vấn giám sát</a>
                </li>
                <li>
                    <a href="http://0961.chilibusiness.net/xay-dung/">Xây dựng</a>
                </li>
                <li>
                    <a href="http://0961.chilibusiness.net/thiet-ke-noi-that/">Thiết kế nội thất</a>
                </li>
            </ul>
        </aside>
    </section>	

    <section class="wrapper-site">


        <div class="header-secondary content-small invert">
            <div class="container clearfix">
                <nav class="pull-left">
                    <ul id="menu-menu-header-left" class="nav nav-horizontal">
                        <li id="menu-item-684" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-684"><a href="#">+84 123 456 789</a></li>
                        <li id="menu-item-685" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-685"><a href="#">taikhoan@tenmiencuaban.com</a></li>
                    </ul>
                </nav>
                <nav class="pull-right">
                    <ul id="menu-menu-favicon" class="nav nav-horizontal">
                        <li id="menu-item-683" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-683"><a target="_blank" href="http://facebook.com">facebook</a></li>
                        <li id="menu-item-686" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-686"><a target="_blank" href="http://twitter.com">twitter</a></li>
                        <li id="menu-item-687" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-687"><a target="_blank" href="http://google.com">google</a></li>
                        <li id="menu-item-690" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-690"><a href="http://linkedin.com">linkedin</a></li>
                        <li id="menu-item-689" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-689"><a href="http://pinterest.com">pinterest</a></li>
                        <li class="menu-item menu-item-language menu-item-language-current"><a href="#" onclick="return false"><img class="iclflag" src="http://0961.chilibusiness.net/wp-content/plugins/sitepress-multilingual-cms/res/flags/vi.png" width="18" height="12" alt="vi" title="Tiếng Việt" />Tiếng Việt</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <header class="header-site header-sticky header-left">
            <div class="container clearfix">
                <div class="logo">

                    <a href="http://0961.chilibusiness.net/" class="site-logo-link" rel="home"><img width="50" height="50" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/logo.jpg" class="site-logo attachment-large" alt="logo" data-size="large" /></a>
                    <div class="site-description">
                        <h3 class="sitename sitetitle"><a href="http://0961.chilibusiness.net">MAX CONSTRUCTION</a></h3>
                        <p class="tagline">FROM CONCEPT TO CREATION</p>
                    </div>

                </div>

                <nav class="nav nav-horizontal">

                    <ul id="menu-trinh-don-chinh-1" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-372 current_page_item menu-item-381"><a href="http://0961.chilibusiness.net/">Trang chủ</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-475"><a href="http://0961.chilibusiness.net/gioi-thieu/">Giới Thiệu</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-721">
                            <a href="#">Dịch vụ</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-753"><a href="http://0961.chilibusiness.net/tu-van-giam-sat/">Tư vấn giám sát</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-755"><a href="http://0961.chilibusiness.net/thiet-ke-noi-that/">Thiết kế nội thất</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-756"><a href="http://0961.chilibusiness.net/thiet-ke-kien-truc/">Thiết kế  kiến trúc</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-754"><a href="http://0961.chilibusiness.net/xay-dung/">Xây dựng</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-676"><a href="http://0961.chilibusiness.net/album-anh/">Album ảnh</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-413"><a href="http://0961.chilibusiness.net/tin-tuc/">Tin tức</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-675"><a href="http://0961.chilibusiness.net/lien-he/">Liên hệ</a></li>
                    </ul>

                    <a href="" class="responsive-nav" data-toggle="#off-canvas-right" data-toggle-class="open">
                        <span class="l-menu"></span>
                    </a>
                </nav>
            </div>
        </header>


        <section id="wrapper-content" class="wrapper-content">

            <section id="layers-widget-slide-35" class="widget layers-slider-widget row slide swiper-container slidershow slider-top   auto-height slider-layout-fullwidth not-full-screen" style="">

                <div class="arrows">
                    <a href="" class="l-left-arrow animate"></a>
                    <a href="" class="l-right-arrow animate"></a>
                </div>

                <div class="widget-layers-widget-slide-35-pages pages animate">
                    <a href="" class="page animate active"></a>
                    <a href="" class="page animate "></a>
                </div>

                <div class="swiper-wrapper">
                    <div class="swiper-slide invert has-image image-top text-left " id="layers-widget-slide-35-256" style="float: left; ">

                        <div class="overlay content">
                            <div class="container clearfix">
                            </div> <!-- .container -->
                        </div> <!-- .overlay -->
                    </div>
                    <div class="swiper-slide invert has-image image-top text-center " id="layers-widget-slide-35-44" style="float: left; ">

                        <div class="overlay content">
                            <div class="container clearfix">
                            </div> <!-- .container -->
                        </div> <!-- .overlay -->
                    </div>
                </div>
            </section>


            <script>
					jQuery(function($){

						var widget_layers_widget_slide_35_slider = $('#layers-widget-slide-35').swiper({
						mode:'horizontal'
						,bulletClass: 'swiper-pagination-switch'
						,bulletActiveClass: 'swiper-active-switch swiper-visible-switch'
						,paginationClickable: true
						,watchActiveIndex: true
																				,pagination: '.widget-layers-widget-slide-35-pages'
																						,loop: true
																					, autoplay: 2000																				});

													// Allow keyboard control
							widget_layers_widget_slide_35_slider.enableKeyboardControl();

													layers_swiper_resize( widget_layers_widget_slide_35_slider );
							$(window).resize(function(){
								layers_swiper_resize( widget_layers_widget_slide_35_slider );
							});

						$('#layers-widget-slide-35').find('.arrows a').on( 'click' , function(e){
							e.preventDefault();

							// "Hi Mom"
							$that = $(this);

							if( $that.hasClass( 'swiper-pagination-switch' ) ){
								// Anchors
								widget_layers_widget_slide_35_slider.slideTo( $that.index() );
							} else if( $that.hasClass( 'l-left-arrow' ) ){
								// Previous
								widget_layers_widget_slide_35_slider.slidePrev();
							} else if( $that.hasClass( 'l-right-arrow' ) ){
								// Next
								widget_layers_widget_slide_35_slider.slideNext();
							}

							return false;
						});

						widget_layers_widget_slide_35_slider.init();
					})
            </script>


            <section id="layers-widget-column-56" class="widget layers-content-widget row content-vertical-massive trang-chu-dich-vu ">
                <div class="container clearfix">
                    <div class="section-title clearfix medium text-center ">
                        <h3 class="heading">DỊCH VỤ</h3>
                        <div class="excerpt"><p>Công ty chúng tôi nhận thầu thi công các công trình xây dựng dân dụng và công nghiệp. Dịch vụ xây nhà trọn gói uy tín và chất lượng với giá cả hợp lý hợp với nhu cầu của từng khách hàng</p></div>
                    </div>
                </div>
                <div class="row container list-grid">

                    <div id="layers-widget-column-56-87" class="layers-masonry-column layers-widget-column-87 span-3  column  has-image">

                        <div class="media image-top medium">
                            <div class="media-image ">
                                <img width="64" height="64" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/icon1.png" class="attachment-medium" alt="icon1" />
                            </div>

                            <div class="media-body text-center">
                                <h5 class="heading">
                                    THIẾT KẾ KIẾN TRÚC
                                </h5>
                                <div class="excerpt"><p>Thiết kế kiến trúc là nghệ thuật sắp đặt không gian và thời gian, cái mà con người có thể cảm nhận khi đặt mình vào đó.</p></div>
                            </div>
                        </div>
                    </div>

                    <div id="layers-widget-column-56-857" class="layers-masonry-column layers-widget-column-857 span-3  column  has-image">

                        <div class="media image-top medium">
                            <div class="media-image ">
                                <img width="64" height="64" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/icon2.png" class="attachment-medium" alt="icon2" />
                            </div>

                            <div class="media-body text-center">
                                <h5 class="heading">
                                    THIẾT KẾ NỘI THẤT
                                </h5>
                                <div class="excerpt"><p>Chúng tôi sẽ mang đến nhà bạn không gian phù hợp. Với đội ngũ thiết kế năng động sáng tạo sẽ giúp các bạn có ngôi nhà mơ ước</p></div>
                            </div>
                        </div>
                    </div>

                    <div id="layers-widget-column-56-792" class="layers-masonry-column layers-widget-column-792 span-3  column  has-image">

                        <div class="media image-top medium">
                            <div class="media-image ">
                                <img width="64" height="64" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/icon3.png" class="attachment-medium" alt="icon3" />
                            </div>

                            <div class="media-body text-center">
                                <h5 class="heading">
                                    XÂY DỰNG
                                </h5>
                                <div class="excerpt"><p>Thi công xây dựng với đội ngũ cán bộ kỹ sư, kiến trúc sư nhiều kinh nghiệm là đối tác đáng tin cậy chất lượng tốt.</p></div>
                            </div>
                        </div>
                    </div>

                    <div id="layers-widget-column-56-256" class="layers-masonry-column layers-widget-column-256 span-3  column  has-image">

                        <div class="media image-top medium">
                            <div class="media-image ">
                                <img width="64" height="64" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/icon4.png" class="attachment-medium" alt="icon4" />
                            </div>

                            <div class="media-body text-center">
                                <h5 class="heading">
                                    TƯ VẤN GIÁM SÁT
                                </h5>
                                <div class="excerpt"><p>Với đội ngũ kỹ sư&nbsp;tư vấn giám sát&nbsp;là người có bằng cấp chuyên môn chuyên nghiệp theo yêu cầu của công việc cụ thể.</p></div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section id="layers-widget-column-44" class="widget layers-content-widget row content-vertical-massive bao-gia ">
                <div class="row container list-grid">

                    <div id="layers-widget-column-44-898" class="layers-masonry-column layers-widget-column-898 span-12  column ">

                        <div class="media image-top medium">

                            <div class="media-body text-center">
                                <h5 class="heading">
                                    NHẬN BÁO GIÁ VÀ TƯ VẤN TỪ MAX CONSTRUCTION
                                </h5>
                                <a href="http://0961.chilibusiness.net/lien-he/" class="button btn-medium">LIÊN HỆ</a>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section id="layers-widget-post-14" class="widget layers-post-widget row content-vertical-massive trang-chu-du-an ">
                <div class="container clearfix">
                    <div class="section-title clearfix medium text-center ">
                        <h3 class="heading">DỰ ÁN NỔI BẬT</h3>
                        <div class="excerpt"><p>Những dự án xây dựng nổi bật của công ty do các kỹ sư chuyên nghiệp thực hiện mang lại ngôi nhà độc đáo với những thiết kế chuyên nghiệp.</p></div>
                    </div>
                </div>
                <div class="row container list-grid">

                    <article class="layers-masonry-column thumbnail  column span-4  " data-cols="3">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/biet-thu-kien-truc-co/"><img width="400" height="225" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/construction_01.jpg" class="attachment-layers-square-medium" alt="construction_01" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/biet-thu-kien-truc-co/" title="Biệt thự kiến trúc cổ">Biệt thự kiến trúc cổ</a></h4>
                                </header>
                                <div class="excerpt">Thiết kế kiến trúc biệt thự cổ điển châu Âu từ xưa vốn là một trào lưu lớn đối với [&hellip;]</div>
                            </div>
                        </div>
                    </article>

                    <article class="layers-masonry-column thumbnail  column span-4  " data-cols="3">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/thiet-ke-san-vuon-la-mat/"><img width="400" height="225" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/construction_03.jpg" class="attachment-layers-square-medium" alt="construction_03" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/thiet-ke-san-vuon-la-mat/" title="Thiết kế sân vườn lạ mắt">Thiết kế sân vườn lạ mắt</a></h4>
                                </header>
                                <div class="excerpt">Công ty Nhà hiện đại chuyên thiết kế biệt thự đẹp với nhiều mẫu theo phong cách cổ điển và hiện [&hellip;]</div>
                            </div>
                        </div>
                    </article>

                    <article class="layers-masonry-column thumbnail  column span-4  " data-cols="3">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/biet-thu-hien-dai/"><img width="400" height="225" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/construction_02.jpg" class="attachment-layers-square-medium" alt="construction_02" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/biet-thu-hien-dai/" title="Biệt thự hiện đại">Biệt thự hiện đại</a></h4>
                                </header>
                                <div class="excerpt">Sang trọng, đẳng cấp, hiện đại và lịch lãm là những gì thể hiện trong những mẫu thiết kế biệt [&hellip;]</div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>



            <section class="widget row team-vertical-massive  " id="layers-widget-layers_plus_column_team-5">
                <div class="container clearfix">
                    <div class="section-title clearfix medium text-center ">
                        <h3 class="heading">ĐỘI KỸ SƯ</h3>

                        <p class="excerpt"><p>Kỹ sư chúng tôi luôn sẵn sàng giúp các bạn có ngôi nhà mơ ước</p></p>
                    </div>
                </div>
                <div class="row container list-grid">

                    <div id="layers-widget-layers_plus_column_team-5-771" class="layers-masonry-column layers-plus span-4  column team has-image">

                        <div class="media invert image-top medium">
                            <div class="media-image ">
                                <img width="1000" height="1000" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/team02.jpg" class="attachment-full" alt="team02" />
                            </div>

                            <div class="media-body text-center">
                                <h5 class="heading">
                                    Hoàng Long
                                </h5>



                                <div class="excerpt designation">Kỹ sư</div>


                                <div class="excerpt"><p>Chúng tôi luôn làm việc với tinh thần chuyên nghiệp đáp ứng dược nhu cầu khách hàng khi đến với chúng tôi</p></div>

                                <div class="excerpt ">
                                    <ul class="team-social style1">
                                        <li><a href="http://facebook.com"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="http://twitter.com"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="http://googole.com"><span class="fa fa-google-plus"></span></a></li>
                                        <li><a href="http://pin.com"><span class="fa fa-pinterest"></span></a></li>
                                    </ul>
                                </div>




                            </div>
                        </div>
                    </div>

                    <div id="layers-widget-layers_plus_column_team-5-517" class="layers-masonry-column layers-plus span-4  column team has-image">

                        <div class="media invert image-top medium">
                            <div class="media-image ">
                                <img width="1000" height="1000" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/team03.jpg" class="attachment-full" alt="team03" />
                            </div>

                            <div class="media-body text-center">
                                <h5 class="heading">
                                    Ngọc Tuyết
                                </h5>



                                <div class="excerpt designation">Kiến trúc sư</div>


                                <div class="excerpt"><p>Với nhiều năm kinh nghiệm trong ngành chúng tôi cam kết sẽ làm quý khách hàng hài lòng khi đến với chúng tôi</p></div>

                                <div class="excerpt ">
                                    <ul class="team-social style1">
                                        <li><a href="http://facebook.com"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="http://twitter.com"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="http://google.com"><span class="fa fa-google-plus"></span></a></li>
                                        <li><a href="http://pin.com"><span class="fa fa-pinterest"></span></a></li>
                                    </ul>
                                </div>




                            </div>
                        </div>
                    </div>

                    <div id="layers-widget-layers_plus_column_team-5-787" class="layers-masonry-column layers-plus span-4 last  column team has-image">

                        <div class="media invert image-top medium">
                            <div class="media-image ">
                                <img width="1000" height="1000" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/team011.jpg" class="attachment-full" alt="team011" />
                            </div>

                            <div class="media-body text-center">
                                <h5 class="heading">
                                    Trường Giang
                                </h5>



                                <div class="excerpt designation">Giám sát</div>


                                <div class="excerpt"><p>Đội ngũ kiến trúc sư công ty năng động trẻ trung luôn hết lòng vì công việc hãy đén với chúng tôi để có ngôi nhà mơ ước</p></div>

                                <div class="excerpt ">
                                    <ul class="team-social style1">
                                        <li><a href="http://facebook.com"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="http://twitter"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="http://google.com"><span class="fa fa-google-plus"></span></a></li>
                                        <li><a href="http://pin.com"><span class="fa fa-pinterest"></span></a></li>
                                    </ul>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="widget row xvcontent-vertical-massive y-kien-khach-hang " id="layers-widget-xvcontent-8">

                <div class="row layers-plus-owl-carousel  container " data-number="8" data-startPosition="0" data-loop="true" data-nav="false" data-center="false" data-autoplay="false" data-dots="true" data-autowidth="false" data-speed="5000" data-gutter="10" data-res1="1" data-res2="1" data-res3="1">



                    <div id="layers-widget-xvcontent-8-178" class="layers-masonry-column layers-plus-owl-child  -flush has-image">

                        <div class="media no-push-bottom image-top medium">
                            <div class="media-image image-rounded">
                                <img width="200" height="200" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/headshot02.jpg" class="attachment-layers-square-large" alt="headshot02" />
                            </div>


                            <div class="media-body text-center">
                                <h5 class="heading">
                                    Ngọc Thanh
                                </h5>
                                <div class="excerpt"><p>Đến nay công ty đã cùng với tôi hợp tác 4 căn nhà của tôi, từ đầu tới cuối công ty làm việc rất tốt, tôi rất hài lòng về họ, thi công có trách nhiệm và làm việc chuyên nghiệp.</p></div>
                            </div>
                        </div>
                    </div>


                    <div id="layers-widget-xvcontent-8-801" class="layers-masonry-column layers-plus-owl-child  -flush has-image">

                        <div class="media no-push-bottom image-top medium">
                            <div class="media-image image-rounded">
                                <img width="200" height="200" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/headshot01.png" class="attachment-layers-square-large" alt="headshot01" />
                            </div>


                            <div class="media-body text-center">
                                <h5 class="heading">
                                    Minh Hoàng
                                </h5>
                                <div class="excerpt"><p>Lúc tìm nhà thầu tôi cũng hơi lo sợ  nhưng khi gặp công ty làm rất có trách nhiệm thiết kế rất độc đáo, tôi thấy rất an tâm giao nhà mình cho công ty thi công. Tôi rất cám ơn quý công ty.</p></div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>


            <section id="layers-widget-post-16" class="widget layers-post-widget row content-vertical-massive bai-viet-moi-nhat ">
                <div class="container clearfix">
                    <div class="section-title clearfix medium text-center ">
                        <h3 class="heading">BÀI VIẾT MỚI NHẤT</h3>
                        <div class="excerpt"><p>Công ty chúng tôi cập nhật những thông tin mới nhất về xây dựng, những hình ảnh, bài viết độc đáo và tin tức liên tục giúp các bạn có những thông tin nhanh và hưu ích nhất.</p></div>
                    </div>
                </div>
                <div class="row container list-grid">

                    <article class="layers-masonry-column thumbnail  column span-4  " data-cols="3">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/nhung-loi-hay-gap-trong-bo-tri-noi-that/"><img width="480" height="480" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/6.jpg" class="attachment-layers--medium" alt="6" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/nhung-loi-hay-gap-trong-bo-tri-noi-that/" title="Những lỗi hay gặp trong bố trí nội thất">Những lỗi hay gặp trong bố trí nội thất</a></h4>
                                </header>
                                <div class="excerpt">Đặt nội thất sát cạnh tường, sử dụng nhiều gối tựa, thảm quá nhỏ so với kích thước nền, treo [&hellip;]</div>																								<footer class="meta-info "><p><span class="meta-item meta-date"><i class="l-clock-o"></i> Tháng Tư 18, 2016</span> <span class="meta-item meta-category"><i class="l-folder-open-o"></i>  <a href="http://0961.chilibusiness.net/chuyen-muc/tin-tuc/" title="View all posts in Tin tức">Tin tức</a></span></p></footer>																																				<a href="http://0961.chilibusiness.net/nhung-loi-hay-gap-trong-bo-tri-noi-that/" class="button btn-medium">Xem thêm</a>
                            </div>
                        </div>
                    </article>

                    <article class="layers-masonry-column thumbnail  column span-4  " data-cols="3">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/tao-ca-tinh-cho-can-ho-chung-cu-cua-ban/"><img width="480" height="480" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/5.jpg" class="attachment-layers--medium" alt="5" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/tao-ca-tinh-cho-can-ho-chung-cu-cua-ban/" title="Tạo cá tính cho căn hộ chung cư của bạn">Tạo cá tính cho căn hộ chung cư của bạn</a></h4>
                                </header>
                                <div class="excerpt">KTNĐ – Nhiều gia chủ tuổi trung niên tới nay vẫn còn nhớ bộ phim Nga Số phận trớ trêu [&hellip;]</div>																								<footer class="meta-info "><p><span class="meta-item meta-date"><i class="l-clock-o"></i> Tháng Tư 18, 2016</span> <span class="meta-item meta-category"><i class="l-folder-open-o"></i>  <a href="http://0961.chilibusiness.net/chuyen-muc/tin-tuc/" title="View all posts in Tin tức">Tin tức</a></span></p></footer>																																				<a href="http://0961.chilibusiness.net/tao-ca-tinh-cho-can-ho-chung-cu-cua-ban/" class="button btn-medium">Xem thêm</a>
                            </div>
                        </div>
                    </article>

                    <article class="layers-masonry-column thumbnail  column span-4  " data-cols="3">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/nhung-goc-vuon-xanh-trong-can-ho/"><img width="480" height="480" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/4.jpg" class="attachment-layers--medium" alt="4" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/nhung-goc-vuon-xanh-trong-can-ho/" title="Những góc vườn xanh trong căn hộ">Những góc vườn xanh trong căn hộ</a></h4>
                                </header>
                                <div class="excerpt">Được cải tạo từ khu nhà trọ cũ với kinh phí đầu tư tiết kiệm nhưng ngôi nhà vẫn mang [&hellip;]</div>																								<footer class="meta-info "><p><span class="meta-item meta-date"><i class="l-clock-o"></i> Tháng Tư 18, 2016</span> <span class="meta-item meta-category"><i class="l-folder-open-o"></i>  <a href="http://0961.chilibusiness.net/chuyen-muc/tin-tuc/" title="View all posts in Tin tức">Tin tức</a></span></p></footer>																																				<a href="http://0961.chilibusiness.net/nhung-goc-vuon-xanh-trong-can-ho/" class="button btn-medium">Xem thêm</a>
                            </div>
                        </div>
                    </article>
                </div>
            </section>



            <section id="layers-widget-post-18" class="widget layers-post-widget row content-vertical-massive hinh-anh-class ">
                <div class="container clearfix">
                    <div class="section-title clearfix medium text-center ">
                        <h3 class="heading">HÌNH ẢNH NỔI BẬT</h3>
                        <div class="excerpt"><p>Những hình ảnh thi công sửa chữa của công ty chúng tôi liên tục được cập nhật góp phần giúp các bạn có lựa chọn đúng.</p></div>
                    </div>
                </div>
                <div class="row  list-grid">

                    <article class="layers-masonry-column thumbnail  column span-3 with-overlay " data-cols="4">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/cong-trinh-truong-mam-non/"><img width="792" height="600" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/n8.jpg" class="attachment-layers--large" alt="n8" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/cong-trinh-truong-mam-non/" title="Công trình trường mầm non">Công trình trường mầm non</a></h4>
                                </header>
                                <a href="http://0961.chilibusiness.net/cong-trinh-truong-mam-non/" class="button btn-medium">Xem thêm</a>
                            </div>
                        </div>
                    </article>

                    <article class="layers-masonry-column thumbnail  column span-3 with-overlay " data-cols="4">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/cong-trinh-rap-hat/"><img width="792" height="600" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/n7.jpg" class="attachment-layers--large" alt="n7" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/cong-trinh-rap-hat/" title="Công trình rạp hát">Công trình rạp hát</a></h4>
                                </header>
                                <a href="http://0961.chilibusiness.net/cong-trinh-rap-hat/" class="button btn-medium">Xem thêm</a>
                            </div>
                        </div>
                    </article>

                    <article class="layers-masonry-column thumbnail  column span-3 with-overlay " data-cols="4">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/rap-dat-nha-xuong/"><img width="792" height="600" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/10.jpg" class="attachment-layers--large" alt="10" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/rap-dat-nha-xuong/" title="Rắp đặt nhà xưởng">Rắp đặt nhà xưởng</a></h4>
                                </header>
                                <a href="http://0961.chilibusiness.net/rap-dat-nha-xuong/" class="button btn-medium">Xem thêm</a>
                            </div>
                        </div>
                    </article>

                    <article class="layers-masonry-column thumbnail  column span-3 with-overlay " data-cols="4">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/cong-trinh-chung-cu-3a/"><img width="792" height="600" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/n5.jpg" class="attachment-layers--large" alt="n5" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/cong-trinh-chung-cu-3a/" title="Công trình chung cư 3A">Công trình chung cư 3A</a></h4>
                                </header>
                                <a href="http://0961.chilibusiness.net/cong-trinh-chung-cu-3a/" class="button btn-medium">Xem thêm</a>
                            </div>
                        </div>
                    </article>

                    <article class="layers-masonry-column thumbnail  column span-3 with-overlay " data-cols="4">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/cong-trinh-cau-vuot/"><img width="792" height="600" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/n4.jpg" class="attachment-layers--large" alt="n4" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/cong-trinh-cau-vuot/" title="Công trình cầu vượt">Công trình cầu vượt</a></h4>
                                </header>
                                <a href="http://0961.chilibusiness.net/cong-trinh-cau-vuot/" class="button btn-medium">Xem thêm</a>
                            </div>
                        </div>
                    </article>

                    <article class="layers-masonry-column thumbnail  column span-3 with-overlay " data-cols="4">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/cong-trinh-tau-cao-toc/"><img width="792" height="600" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/n3.jpg" class="attachment-layers--large" alt="n3" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/cong-trinh-tau-cao-toc/" title="Công trình tàu cao tốc">Công trình tàu cao tốc</a></h4>
                                </header>
                                <a href="http://0961.chilibusiness.net/cong-trinh-tau-cao-toc/" class="button btn-medium">Xem thêm</a>
                            </div>
                        </div>
                    </article>

                    <article class="layers-masonry-column thumbnail  column span-3 with-overlay " data-cols="4">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/cong-trinh-biet-thu-xanh/"><img width="792" height="600" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/n2.jpg" class="attachment-layers--large" alt="n2" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/cong-trinh-biet-thu-xanh/" title="Công trình biệt thự xanh">Công trình biệt thự xanh</a></h4>
                                </header>
                                <a href="http://0961.chilibusiness.net/cong-trinh-biet-thu-xanh/" class="button btn-medium">Xem thêm</a>
                            </div>
                        </div>
                    </article>

                    <article class="layers-masonry-column thumbnail  column span-3 with-overlay " data-cols="4">
                        <div class="thumbnail-media"><a href="http://0961.chilibusiness.net/cong-trinh-vien-nghien-cuu/"><img width="792" height="600" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/n1.jpg" class="attachment-layers--large" alt="n1" /></a></div>																				<div class="thumbnail-body">
                            <div class="overlay">
                                <header class="article-title">
                                    <h4 class="heading"><a href="http://0961.chilibusiness.net/cong-trinh-vien-nghien-cuu/" title="Công trình viện nghiên cứu">Công trình viện nghiên cứu</a></h4>
                                </header>
                                <a href="http://0961.chilibusiness.net/cong-trinh-vien-nghien-cuu/" class="button btn-medium">Xem thêm</a>
                            </div>
                        </div>
                    </article>
                </div>
            </section>



            <section id="layers-widget-column-54" class="widget layers-content-widget row content-vertical-massive  ">
                <div class="row container list-grid">

                    <div id="layers-widget-column-54-399" class="layers-masonry-column layers-widget-column-399 span-3  column  has-image">

                        <div class="media image-top medium">
                            <div class="media-image ">
                                <img width="480" height="340" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/logo_012-480x340.png" class="attachment-medium" alt="logo_012-480x340" />
                            </div>

                        </div>
                    </div>

                    <div id="layers-widget-column-54-544" class="layers-masonry-column layers-widget-column-544 span-3  column  has-image">

                        <div class="media image-top medium">
                            <div class="media-image ">
                                <img width="480" height="340" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/logo_031-480x340.png" class="attachment-medium" alt="logo_031-480x340" />
                            </div>

                        </div>
                    </div>

                    <div id="layers-widget-column-54-297" class="layers-masonry-column layers-widget-column-297 span-3  column  has-image">

                        <div class="media image-top medium">
                            <div class="media-image ">
                                <img width="480" height="340" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/logo_041-480x340.png" class="attachment-medium" alt="logo_041-480x340" />
                            </div>

                        </div>
                    </div>

                    <div id="layers-widget-column-54-184" class="layers-masonry-column layers-widget-column-184 span-3  column  has-image">

                        <div class="media image-top medium">
                            <div class="media-image ">
                                <img width="480" height="340" src="http://0961.chilibusiness.net/wp-content/uploads/2016/04/logo_021-480x340.png" class="attachment-medium" alt="logo_021-480x340" />
                            </div>

                        </div>
                    </div>
                </div>

            </section>


            <section id="layers-widget-column-60" class="widget layers-content-widget row content-vertical-massive quang-cao-footer ">
                <div class="row container list-grid">

                    <div id="layers-widget-column-60-297" class="layers-masonry-column layers-widget-column-297 span-8  column ">

                        <div class="media image-top medium">

                            <div class="media-body text-center">
                                <h5 class="heading">
                                    Liên hệ với chúng tôi để được ưu đãi hấp dẫn
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div id="layers-widget-column-60-622" class="layers-masonry-column layers-widget-column-622 span-3  column ">

                        <div class="media image-top medium">

                            <div class="media-body text-left">
                                <a href="/lien-he/" class="button btn-medium">XEM THÊM</a>
                            </div>
                        </div>
                    </div>
                </div>

            </section>


            <div id="back-to-top">
                <a href="#top">Đầu trang</a>
            </div> <!-- back-to-top -->

        </section>

        <footer id="footer" class="footer-site invert">
            <div class="container  clearfix">

                <div class="row">
                    <div class="column span-3 ">

                        <section id="layers-widget-column-46" class="widget layers-content-widget row content-vertical-massive  ">
                            <div class="container clearfix">
                                <div class="section-title clearfix medium text-left ">
                                    <h3 class="heading">GIỚI THIỆU</h3>
                                </div>
                            </div>
                            <div class="row container list-grid">

                                <div id="layers-widget-column-46-61" class="layers-masonry-column layers-widget-column-61 span-12  column ">

                                    <div class="media image-top medium">

                                        <div class="media-body text-left">
                                            <div class="excerpt"><p>Hầu hết mỗi công ty đều có bài giới thiệu về doanh nghiệp mình, nhưng để có&nbsp; được một bài giới thiệu đầy đủ.</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                    <div class="column span-3 ">

                        <section id="layers-widget-column-50" class="widget layers-content-widget row content-vertical-massive dia-chi-footer ">
                            <div class="container clearfix">
                                <div class="section-title clearfix medium text-left ">
                                    <h3 class="heading">THÔNG TIN LIÊN HỆ</h3>
                                </div>
                            </div>
                            <div class="row container list-grid">

                                <div id="layers-widget-column-50-794" class="layers-masonry-column layers-widget-column-794 span-12  column ">

                                    <div class="media image-top medium">

                                        <div class="media-body text-left">
                                            <div class="excerpt"><p><i class="fa fa-map-marker"></i>  Số 123, Đường ABC, Quận ABC, Thành ABC</p><p><i class="fa fa-phone"></i>  +84 123 456 789</p><p><i class="fa fa-mobile"></i>  123 456 789</p><p><i class="fa fa-envelope"></i>  taikhoan@tenmiencuaban.com</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                    <div class="column span-3 ">
                        <section id="recent-posts-14" class="widget widget_recent_entries">
                            <h5 class="section-nav-title">Bài viết mới</h5>		<ul>
                                <li>
                                    <a href="http://0961.chilibusiness.net/tu-van-giam-sat/">Tư vấn giám sát</a>
                                    <span class="post-date">Tháng Tư 20, 2016</span>
                                </li>
                                <li>
                                    <a href="http://0961.chilibusiness.net/xay-dung/">Xây dựng</a>
                                    <span class="post-date">Tháng Tư 20, 2016</span>
                                </li>
                                <li>
                                    <a href="http://0961.chilibusiness.net/thiet-ke-noi-that/">Thiết kế nội thất</a>
                                    <span class="post-date">Tháng Tư 20, 2016</span>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="column span-3 last">
                        <section id="tag_cloud-8" class="widget widget_tag_cloud">
                            <h5 class="section-nav-title">XU HƯỚNG TÌM KIẾM</h5><div class="tagcloud">
                                <a href='http://0961.chilibusiness.net/tu-khoa/biet-thu/' class='tag-link-72' title='1 chủ đề' style='font-size: 8pt;'>Biệt Thự</a>
                                <a href='http://0961.chilibusiness.net/tu-khoa/cong-trinh/' class='tag-link-70' title='1 chủ đề' style='font-size: 8pt;'>Công Trình</a>
                                <a href='http://0961.chilibusiness.net/tu-khoa/dich-vu/' class='tag-link-39' title='1 chủ đề' style='font-size: 8pt;'>dịch vụ</a>
                                <a href='http://0961.chilibusiness.net/tu-khoa/hinh-anh/' class='tag-link-74' title='1 chủ đề' style='font-size: 8pt;'>Hình ảnh</a>
                                <a href='http://0961.chilibusiness.net/tu-khoa/tin-tuc/' class='tag-link-71' title='1 chủ đề' style='font-size: 8pt;'>Tin Tức</a>
                            </div>
                        </section>
                    </div>
                </div>


            </div>


        </footer><!-- END / FOOTER -->


        <div class="footer-bottom ">

            <div class="container">

                <div class="row copyright">
                    <div class="column span-8">
                        <p class="site-text"> © 2016 Copyright by Max Construction. All rights reserved</p>
                    </div>

                    <div id="mbmcl" class="column span-4">
                        <div style="white-space:nowrap;display: block;overflow: hidden;">
                            <a style="color:#FFFFFF;font-size:12px;background: url(https://www.chili.vn/chili_vn_web_doanh_nghiep.png);
    background-repeat: no-repeat; background-position: right; padding-right: 37px;" target="_blank" href="https://www.chili.vn/">Thiết kế bởi</a>
                            <!--     <a target="_blank" style="border:0px; line-height:14px; font-size: 12px;overflow: hidden; " href="https://www.chili.vn"><img style="" src="https://www.chili.vn/chili_vn_web_doanh_nghiep.png" alt="Dịch vụ thiết kế web chuyên biệt dành cho Doanh Nghiệp, Shop Bán hàng và nhà Quảng Cáo" /></a> -->
                        </div>
                    </div>

                </div>



            </div>

        </div>

    </section><!-- END / MAIN SITE #wrapper -->