<div class="header">
    @Html.Partial("_Menu")
    @Html.Action("Slider", "Home")
    <div class="buttonhead mglr30-10 clear">
        <div class="_w-container w-container">
            <div class="row-4 w-row tec">
                <div class="box hohecate"> </div>
            </div>
        </div>
    </div>
</div>