@{ 
    var Carousels = AppHelpers.Carousels();

    var id = ThemesSetting.getValue("HomeSlider");
    if (id != null && !id.ToString().IsNullEmpty())
    {
        Guid guid = new Guid(id.ToString());
        Carousels = Carousels.Where(x => x.Carousel_Id == guid).ToList();
    } else
    {
        Carousels = Carousels.Where(x => x.Carousel_Id == null).ToList();
    }

}
<div data-delay="4000" data-animation="fade" data-autoplay="1" data-easing="ease-out" data-disable-swipe="1" data-duration="4000" data-infinite="1" class="slider w-slider clear">
    <div class="w-slider-mask">
        @for (int i = 0; i < Carousels.Count; i++)
        {
            <div class="slide w-slide">
                <a href="@Carousels[i].Link" title="@Carousels[i].Name">
                    <img src="@AppHelpers.ImageCropUrl(Carousels[i].Image,1350,760)" alt="@Carousels[i].Name" />
                </a>
            </div>
        }
    </div>
</div>