<div class="header">
    @Html.Partial("_Menu")
    @Html.Action("Slider", "Home")
    <div class="navbottom">
        <div class="namepage">
            <div class="pdt10"></div>
            <ul class="unordered-list-3 w-list-unstyled">
                <li class="list-item-5">
                    <a href="http://denchinhhang.com/"> Trang chủ</a>
                </li>
                <li class="list-item-6"></li>
                <li class="list-item-7"> <a href="demilux"> DEMILUX</a> </li>
                <li class="list-item-6"></li>
                <li class="list-item-7">DEMILUX MD8992C-5</li>
            </ul>
        </div>
    </div>
</div>