@model Category
@{
    ModulConfig.AdminMenuItem[] _Menu;
    if (Model.IsProduct)
    {
        ViewBag.Title = "Xóa nhóm sản phẩm";
        _Menu = ModulConfig.ProductManage;
    }
    else
    {
        ViewBag.Title = "Xóa nhóm bài viết";
        _Menu = ModulConfig.NewsManage;
    }
}
@Html.Partial("_TopMenu",_Menu)
<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        <h2>Xác nhận xóa danh mục?</h2>
        <p>Danh mục sẽ được xóa hoàn toàn và không thể khôi phục.</p>
        <div class="form-group">
            <input type="text" class="form-control" readonly="readonly" value="@Model.Name" />
        </div>
        @using (Html.BeginForm(Model.IsProduct?"DelCatProduct":"DelCatNews", "AdminCategory", FormMethod.Post))
        {
            <div class="submit-holder">
                <input type="submit" class="btn-mvc btn-mvc-large" value="Xác nhận xóa" />
            </div>
        }
    </div>
</div>
