@model WebMvc.Application.Entities.MembershipUser

@{
    ViewBag.Title = "";
    var themeName = Html.Settings("Theme");
    var ThemePath = string.Concat(SiteConstants.Instance.ThemeRootFolder, themeName);
}
@Html.Partial("_Header")
<!--start-about-->
<div class="about">
    <div class="container">
        <div class="about-top">
            <h3>VỀ CHÚNG TÔI</h3>
            <div class="about-main">
                <div class="col-md-8 about-top-left">
                    <!--<h4>A Few Words About Us</h4>-->
                    <div class="abt-top">
                        <div class="col-md-5 abt-left">
                            <img src="@Url.Content(ThemePath + "/content/images/abt-1.jpg")">
                        </div>
                        <div class="col-md-7 abt-right">
                            <h5>Mauris ac est sit amet ligula eleifend pulvinar et sit amet nisl.</h5>
                            <p> Curabitur interdum vehicula justo, in ultrices metus efficitur a. Vestibulum volutpat mauris sed felis dapibus tincidunt. Fusce eleifend sagittis lacus eu lobortis.Curabitur pharetra vel eros nec vulputate.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="abt-top">
                        <div class="col-md-5 abt-left">
                            <img src="@Url.Content(ThemePath + "/content/images/abt-2.jpg")">
                        </div>
                        <div class="col-md-7 abt-right">
                            <h5>Mauris ac est sit amet ligula eleifend pulvinar et sit amet nisl.</h5>
                            <p> Curabitur interdum vehicula justo, in ultrices metus efficitur a. Vestibulum volutpat mauris sed felis dapibus tincidunt. Fusce eleifend sagittis lacus eu lobortis.Curabitur pharetra vel eros nec vulputate.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 about-top-right">
                    <h4>Our Principles</h4>
                    <ul>
                        <li><a href="#">Nulla pellentesque risus non orci</a></li>
                        <li><a href="#">Maecenas feugiat porttitor</a></li>
                        <li><a href="#">Proin ultricies ligula eget dolor</a></li>
                        <li><a href="#">Aenean ornare volutpat tellus ut</a></li>
                        <li><a href="#">Ut suscipit luctus magna ac aliquam</a></li>
                        <li><a href="#">Vestibulum sapien quam porta id</a></li>
                        <li><a href="#">Fusce vel ultricies turpis</a></li>
                        <li><a href="#">Sed velit libero auctor vel nulla</a></li>
                        <li><a href="#">Donec rhoncus posuere purus vitae </a></li>
                        <li><a href="#">Suspendisse a eu lorem sagittis</a></li>
                        <li><a href="#">Quisque elit felis consectetur et</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--end-about-->