@model string
<div class="header">
    @Html.Partial("_Menu")
    <div class="box wrapper-slide-hidden"></div>
    <div class="navbottom">
        <div class="namepage">
            @if (!Model.IsNullEmpty())
            {
                <h1 class="heading-7">@Model</h1>
                <ul class="unordered-list-3 w-list-unstyled">
                    <li class="list-item-5"><a href="/"> Trang chủ</a></li>
                    <li class="list-item-6"></li>
                    <li class="list-item-7">@Model</li>
                </ul>
            }
            else
            {
                <div class="box" style="height: 30px"></div>
            }
        </div>
    </div>
</div>