@model AdminTermsConditionsSettingViewModel

@{
    ViewBag.Title = "Cài đặt điều kiện và điều khoản";
}

@using (Html.BeginForm("TermsConditions", "Setting", FormMethod.Post))
{
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">@ViewBag.Title</h4>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                
            </div>
        </div>
    </div>

    <div class="submit-holder">
        <button type="submit" class="btn-mvc-green btn-mvc-large">Lưu cài đặt</button>
    </div>
}
